html, body {
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}


h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600; /* Optional for bold effect */
}

h3 {
    font-family: 'Montserrat', sans-serif;
}

h4,a,small,li,button {
    font-family: 'Montserrat', sans-serif;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400; /* Normal weight */
    line-height: 1.6; /* Improves readability */
    color: #333; /* Dark gray for better contrast */
}

a {
    --bs-text-opacity: 1;
    color: rgba(var(--bs-dark-rgb), var(--bs-text-opacity)) !important;
}

.logo {
    height: 90px;
}


.logo_bg {
    background-color: #ec1d23 !important;
}

.card-title {
    text-align: center;
}
.card-header {
    font-family: 'Montserrat', sans-serif;
}

.btn-zopa {
    background-color: #ec1d23 !important;
    color: white !important;
    border: 1px solid #ec1d23 !important;
    transition: background-color 0.2s ease, border-color 0.2s ease;
}

.btn-zopa:hover {
    background-color: #c4161b !important; /* Slightly darker red */
    border-color: #c4161b !important;
    color: white !important;
}

.btn-outline-zopa {
    color: #FF6600;         /* Zopa Orange example */
    border: 1px solid #FF6600;
    background-color: transparent;
}

.btn-outline-zopa:hover {
    color: white;
    background-color: #FF6600;
}

.bg-zopa {
    --bs-bg-opacity: 1;
    background-color: #ec1d23 !important;
}

.text-zopa {
    color: #ec1d23 !important;
}

.dropdown-menu {
    --bs-dropdown-link-active-bg: #ec1d23;
}

.desktop-menu .dropdown ul {
    border-color: #ec1d23;
}

.desktop-menu .dropdown ul li a {
    color: #000000 !important;
}

.desktop-menu .dropdown ul li a:focus {
    color: #ffffff !important;
}

ul li i {
    font-size: 12px;
}

.inr-size {
    font-size: 14px;
}

.accordion {
    --bs-accordion-color: var(--bs-body-color);
    --bs-accordion-bg: var(--bs-body-bg);
    --bs-accordion-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, border-radius 0.15s ease;
    --bs-accordion-border-color: var(--bs-border-color);
    --bs-accordion-border-width: var(--bs-border-width);
    --bs-accordion-border-radius: var(--bs-border-radius);
    --bs-accordion-inner-border-radius: calc(var(--bs-border-radius) -(var(--bs-border-width)));
    --bs-accordion-btn-padding-x: 1.25rem;
    --bs-accordion-btn-padding-y: 1rem;
    --bs-accordion-btn-color: var(--bs-body-color);
    --bs-accordion-btn-bg: var(--bs-accordion-bg);
    --bs-accordion-btn-icon: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e);
    --bs-accordion-btn-icon-width: 1.25rem;
    --bs-accordion-btn-icon-transform: rotate(-180deg);
    --bs-accordion-btn-icon-transition: transform 0.2s ease-in-out;
    --bs-accordion-btn-active-icon: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23052c65'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e);
    --bs-accordion-btn-focus-border-color: #ec1d23;
    --bs-accordion-btn-focus-box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
    --bs-accordion-body-padding-x: 1.25rem;
    --bs-accordion-body-padding-y: 1rem;
    --bs-accordion-active-color: var(--bs-primary-text-emphasis);
    --bs-accordion-active-bg: #ec1d23;
}

.accordion-button:not(.collapsed) {
    color: #ffffff;
}

.accordion-item {
    background-color: #f2f2f2;
}

.navbar {
    background-color: #ec1d23 !important;
}
.navbar .nav-link {
    color: #ffffff !important;
}
.navbar .nav-link:hover {
    color:#70070a !important;
}
.desktop-menu .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1050;
}
.mobile-menu {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background: #fff;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.2);
    transition: left 0.3s ease-in-out;
    padding-top: 60px;
    z-index: 1050;
}
.mobile-menu.active {
    left: 0;
}
.mobile-menu .close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    cursor: pointer;
}
.mobile-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.mobile-menu ul li {
    padding: 10px 10px;
    border-bottom: 1px solid #ddd;
}
.mobile-menu ul li a {
    text-decoration: none;
    color: #333;
    display: block;
    font-size: 14px;
}
.mobile-menu .submenu {
    display: none;
    padding-left: 20px;
}
.mobile-menu .submenu.active {
    display: block;
}
.menu-toggle {
    font-size: 24px;
    cursor: pointer;
    display: none;
    color: #ffffff;
}
.page-link {
    color: #000000 !important;
}
.page-link:hover {
    z-index: 2;
    color:#ec1d23;
}
.active>.page-link, .page-link.active {
    color: #000;
    background-color: #ec1d23;
    border-color: #ec1d23;
}
.nav-link {
    color:#5A9D78;
}
.nav-link:focus, .nav-link:hover {
    color:#ec1d23;
}
footer ul li a {
    color: #ffffff !important;
    font-size: 14px;
}

footer p {
    color: #ffffff !important;
    font-size: 14px;
}

footer span {
    color: #ffffff !important;
}

footer a.powered {
    color: #ffffff !important;
    text-decoration: none;
}

.swal2-html-container .form-control {
    width: 80%;
}


@media (max-width: 991px) {
    .menu-toggle {
        display: block;
    }
    .desktop-menu {
        display: none;
    }
}

@media (min-width: 768px) {
    .container, .container-md, .container-sm {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container, .container-lg, .container-md, .container-sm {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        /* max-width: 1140px; */
        max-width: 960px;
    }
}

@media (min-width: 1400px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        /* max-width: 1320px; */
        max-width: 960px;
    }
}






